@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$font-lato: 'Lato', sans-serif;

$color-bg: #3b4c57;
$color-yellow: #f2c872;
$color-black: #0f0f0f;
$color-l-blue: #487caa;
$color-d-blue: #1e476b;
$color-red: #f27272;